.pagination {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    overflow-x: auto;

    .page {
        color: #333333;
        background-color: #fbfbfb;
        border-radius: 0.5rem;
        padding: 0.3rem 1rem;
        box-shadow: 0 0 4px #00000030;
        height: 2rem;
    }

    .page.active{
        background-color: #9fcaf5;
    }

    .direction polyline{
        stroke: #9fcaf5;
    }
    .direction.disabled polyline{
        stroke: #a1a1a1;
    }
}
