
.tasks {
    .level1 > .task {
        background-color: white;
    }
    .level2 > .task {
        background-color: #ffecec;
    }
    .level3 > .task {
        background-color: #ffd8d8;
    }
    .level4 > .task {
        background-color: #ffc4c4;
    }
    .level5 > .task {
        background-color: #ffa8a8;
    }
}
